$pokered: #f41f3f;
$pokeredbtn: #c60e29;
$pokebluebtn: #1667cc;
$pokelightbluebtn: #74d2f9;
$pokeyellowbtn: #d4b508;
$pokegreenbtn: #5e8a31;
$pokegreenscreen: #5bc66e;
$pokelight: #f65a72;
$pokeshadow: #bd0e28;
$pokeborder: #5d050e;
$pokebg: #fff;
$pokegray: #30353c;
$pokeblack: #202531;