@use "source.scss";
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@mixin flexbox-mixin($justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

html {
    font-size: 14px;
}

div {
    @include flexbox-mixin(flex-start, flex-end);

    .leftSide {
        width: 36rem;
        height: 50rem;
        background: source.$pokered;
        border: 0.25rem solid source.$pokeborder;
        border-radius: 0.5rem 0 0 0.5rem;
        justify-content: flex-end;

        .topButtons {
            padding: 1.5rem;
            margin-right: auto;
            align-self: flex-start;
            @include flexbox-mixin(flex-start, flex-start);
            gap: 1.75rem;
            
            .blueButton {
                width: 5rem;
                height: 5rem;
                background: #0ebdd2;
                box-shadow: 0 0 0 0.25rem source.$pokeborder, 0 0 0 0.85rem #fff, 0 0 0 1.1rem source.$pokeborder;
                border-radius: 50%;

                .lighterBlue {
                    width: 3.5rem;
                    height: 3.5rem;
                    border-radius: 50%;
                    background: #82f3ff;
                    margin: 0 0 1.2rem 1.2rem;
                }

                .highlightBlue {
                    position: absolute;
                    width: 1rem;
                    height: 1rem;
                    border-radius: 50%;
                    background: #fff;
                    margin: 0 0 2.9rem 2.9rem;
                }
            }

            .redButton {
                width: 1.5rem;
                height: 1.5rem;
                background: source.$pokeredbtn;
                border: solid 0.25rem source.$pokeborder;
                border-radius: 50%;
                transform: translate(0, -0.75rem);

                .lighterRed {
                    width: 1rem;
                    height: 1rem;
                    border-radius: 50%;
                    background: #f64862;
                    margin: 0 0 0.4rem 0.4rem;
                }

                .highlightRed {
                    position: absolute;
                    width: 0.3rem;
                    height: 0.3rem;
                    border-radius: 50%;
                    background: #fff;
                    margin: 0 0 0.9rem 0.9rem;
                }
            }

            .yellowButton {
                width: 1.5rem;
                height: 1.5rem;
                border-radius: 50%;
                background: source.$pokeyellowbtn;
                border: solid 0.25rem source.$pokeborder;
                transform: translate(0, -0.75rem);

                .lighterYellow {
                    width: 1rem;
                    height: 1rem;
                    border-radius: 50%;
                    background: #f5dc4e;
                    margin: 0 0 0.4rem 0.4rem;
                }

                .highlightYellow {
                    position: absolute;
                    width: 0.3rem;
                    height: 0.3rem;
                    border-radius: 50%;
                    background: #fff;
                    margin: 0 0 0.9rem 0.9rem;
                }
            }

            .greenButton {
                width: 1.5rem;
                height: 1.5rem;
                border-radius: 50%;
                background: source.$pokegreenbtn;
                border: solid 0.25rem source.$pokeborder;
                transform: translate(0, -0.75rem);

                .lighterGreen {
                    width: 1rem;
                    height: 1rem;
                    border-radius: 50%;
                    background: #85ca40;
                    margin: 0 0 0.4rem 0.4rem;
                }

                .highlightGreen {
                    position: absolute;
                    width: 0.3rem;
                    height: 0.3rem;
                    border-radius: 50%;
                    background: #fff;
                    margin: 0 0 0.9rem 0.9rem;
                }
            }
        }
        
        .hinge {
            width: 5rem;
            height: 45rem;
            background: source.$pokered;
            border: 0.25rem solid source.$pokeborder;
            border-right: none;
            border-bottom: none;

            @include flexbox-mixin(space-between, flex-start);
            flex-direction: column;

            .shadow {
                position: absolute;
                width: 0.5rem;
                height: 45rem;
                background: source.$pokeshadow;
            }

            .cut1 {
                width: 5rem;
                height: 0.25rem;
                background: source.$pokeborder;
                margin-top: 6rem;
                box-shadow: 0 0.2rem source.$pokelight;
            }

            .cut2 {
                width: 5rem;
                height: 0.25rem;
                background: source.$pokeborder;
                margin-bottom: 6rem;
                box-shadow: 0 0.2rem source.$pokelight;
            }
        }

        .topLine {
            position: absolute;
            margin-bottom: 45rem;
            width: 14rem;
            height: 0.25rem;
            background: source.$pokeborder;
        }

        .midLine {
            position: absolute;
            margin-right: 13.3rem;
            margin-bottom: 42.85rem;
            width: 8rem;
            height: 0.25rem;
            background: source.$pokeborder;
            transform: rotate(147.5deg);
        }

        .bottomLine {
            position: absolute;
            margin-right: 20.6rem;
            margin-bottom: 40.7rem;
            width: 15.5rem;
            height: 0.25rem;
            background: source.$pokeborder;
        }

        .whiteFrame {
            margin-right: 10rem;
            margin-bottom: 6rem;
            align-self: center;
            position: absolute;
            width: 22rem;
            height: 19rem;
            background: #fff;
            box-shadow: 0 0 0 0.25rem source.$pokeborder;
            border-radius: 0.2rem;

            .frameCut {
                position: absolute;
                width: 5.5rem;
                height: 3rem;
                background: source.$pokered;
                transform: rotate(55deg) translate(-1.13rem, 2.32rem);
                border-top: 0.25rem solid source.$pokeborder;
            }

            .screenElements {
                width: 100%;
                height: 100%;
                @include flexbox-mixin(flex-start, center);
                flex-direction: column;

                .topLights {
                    margin-top: 0.8rem;
                    width: 100%;
                    @include flexbox-mixin(center, flex-start);
                    gap: 2rem;

                    .smallRedLight {
                        width: 0.4rem;
                        height: 0.4rem;
                        background: source.$pokeredbtn;
                        border: 0.2rem solid source.$pokeborder;
                        border-radius: 50%;
                    }
                }

                .mainScreen {
                    margin-top: 0.8rem;
                    width: 16.5rem;
                    height: 12rem;
                    background: linear-gradient(180deg, #81c7d0 0%, #beeff8 100%);
                    border: 0.25rem solid source.$pokeborder;
                    border-radius: 0.4rem;
                    @include flexbox-mixin(center, center);


                    img {
                        height: 12rem;
                        width: auto;
                        margin: auto;
                    }

                    div {
                        width: 17rem;
                        height: 2rem;
                        position: absolute;
                        align-self: flex-end;
                        background: #202531bb;
                        transform: translate(0, -0.5rem);
                        z-index: 1; 

                        a {
                            margin: auto;
                            text-transform: capitalize;
                            font-family: 'Press Start 2P', cursive;
                            font-size: 0.95rem;
                            color: #fff;
                            text-decoration: none;
                        }

                        a:hover {
                            text-decoration: underline;
                        }
                    }
                }

                .bottomStuff {
                    margin-top: 0.8rem;
                    width: 100%;
                    @include flexbox-mixin(center, center);
                    gap: 11rem;

                    .bigRedLight {
                        margin-top: 0.2rem;
                        width: 1.2rem;
                        height: 1.2rem;
                        background: source.$pokeredbtn;
                        border-radius: 50%;
                        border: 0.25rem solid source.$pokeborder;
                    }

                    .speaker {
                        width: 3.5rem;
                        height: 0.3rem;
                        border-radius: 0.3rem;
                        background: source.$pokeblack;
                        box-shadow: 0 0.3rem 0 #fff, 0 0.6rem 0 source.$pokeblack, 0 0.9rem 0 #fff, 0 1.2rem 0 source.$pokeblack, 0 -0.3rem 0 #fff, 0 -0.6rem 0 source.$pokeblack;
                        transform: translate(0, -0.2rem);
                    }
                }
            }
        }

        .leftSideBottom {
            position: absolute;
            width: 34rem;
            height: 14rem;
            @include flexbox-mixin(flex-start, flex-start);

            .joystick {
                margin-top: 1.5rem;
                width: 4rem;
                height: 4rem;
                border-radius: 50%;
                background: source.$pokegray;
                border: 0.3rem solid source.$pokeblack;
            }

            .leftSideBottomCenter {
                width: 12rem;
                @include flexbox-mixin(center, space-between);
                flex-wrap: wrap;

                .thinButtons {
                    z-index: 1;

                    .thinButtonRed {
                        width: 3.7rem;
                        height: 0.7rem;
                        background: source.$pokered;
                        border-radius: 2rem;
                        border: 0.25rem solid source.$pokeborder;
                    }

                    .thinButtonRed:active {
                        background: source.$pokeshadow;
                    }

                    .thinButtonBlue {
                        margin-left: 1rem;
                        width: 3.7rem;
                        height: 0.7rem;
                        background: source.$pokebluebtn;
                        border-radius: 2rem;
                        border: 0.25rem solid source.$pokeborder;
                    }

                    .thinButtonBlue:active {
                        background: #0d51a4;
                    }
                }

                .greenScreen {
                    margin: 3rem 0 0 2rem;
                    width: 8.5rem;
                    height: 5rem;
                    background: source.$pokegreenscreen;
                    border-radius: 0.6rem;
                    border: 0.25rem solid source.$pokeborder;
                    flex-direction: column;
                    gap: 0.5rem;
                    justify-content: center;

                    p {
                        margin: 0 0 0 0.6rem;
                        font-family: 'Press Start 2P', cursive;
                        font-size: 0.8rem;
                    }
                }
            }

            .arrows {
                margin: 0.6rem 0 0 1.3rem;
                width: 9rem;
                height: 9rem;

                @include flexbox-mixin(center, center);

                .horizontal {
                    z-index: 1;
                    position: absolute;

                    .leftArrow {
                        width: 4rem;
                        height: 2.25rem;
                        background: source.$pokegray;
                        border: 0.25rem solid source.$pokeblack;
                        border-radius: 0.5rem;
                    }

                    .rightArrow {
                        width: 4rem;
                        height: 2.25rem;
                        background: source.$pokegray;
                        border: 0.25rem solid source.$pokeblack;
                        border-radius: 0.5rem;
                    }
                }
                .vertical {
                    z-index: 1;
                    display: flex;
                    flex-direction: column;

                    .topArrow {
                        width: 2.25rem;
                        height: 4rem;
                        background: source.$pokegray;
                        border: 0.25rem solid source.$pokeblack;
                        border-radius: 0.5rem;
                    }

                    .bottomArrow {
                        width: 2.25rem;
                        height: 4rem;
                        background: source.$pokegray;
                        border: 0.25rem solid source.$pokeblack;
                        border-radius: 0.5rem;
                    }
                }

                .leftArrow:active, .topArrow:active, .rightArrow:active, .bottomArrow:active {
                    background: source.$pokeblack;
                }

                .center {
                    z-index: 1;
                    position: absolute;
                    width: 2.75rem;
                    height: 2.75rem;
                    background: source.$pokegray;

                    .centerCircle {
                        margin: auto;
                        width: 1rem;
                        height: 1rem;
                        border-radius: 50%;
                        background: source.$pokegray;
                        border: 0.25rem solid source.$pokeblack;
                    }
                }
            }
        }
    }

    .rightSide {
        width: 30rem;
        height: 45rem;
        background: source.$pokered;
        border: 0.25rem solid source.$pokeborder;
        border-radius: 0 0.5rem 0.5rem 0;
        border-left: none;

        .dropLine {
            position: absolute;
            margin-left: 8rem;
            margin-bottom: 42.85rem;
            width: 8rem;
            height: 0.25rem;
            background: source.$pokeborder;
            transform: rotate(-147.5deg);
        }

        .straightLine {
            position: absolute;
            margin-left: 15.34rem;
            margin-bottom: 40.7rem;
            width: 14.7rem;
            height: 0.25rem;
            background: source.$pokeborder;
        }

        .rightSideElements {
            width: 100%;
            height: 80%;
            @include flexbox-mixin(center, flex-start);
            flex-wrap: wrap;

            .secondaryScreen {
                position: absolute;
                width: 20rem;
                height: 9rem;
                background: source.$pokeblack;
                border-radius: 0.5rem;
                display: flex;
                align-items: flex-start;
                overflow: hidden;
                overflow-y: auto;
                z-index: 1;

                p {
                    margin: 1rem;
                    line-height: 115%;
                    font-family: 'Press Start 2P', cursive;
                    font-size: 0.9rem;
                    color: #fff;
                }
            }

            .blueButtons {
                z-index: 1;
                position: absolute;
                margin-top: 11rem;
                width: 20rem;
                display: flex;
                flex-wrap: wrap;

                .blueButton {
                    width: 3.5rem;
                    height: 3.5rem;
                    background: source.$pokelightbluebtn;
                    border: 0.25rem solid source.$pokeblack;
                }

                .blueButton:active {
                    background: #4baad3;
                }
            }

            .thinBlackButtons {
                z-index: 1;
                width: 20rem;
                margin-top: 19.8rem;
                @include flexbox-mixin(flex-end, flex-start);
                gap: 0.7rem;

                .thinBlackButton {
                    width: 3rem;
                    height: 0.4rem;
                    background: source.$pokegray;
                    border: 0.25rem solid source.$pokeblack;
                    border-radius: 1rem;
                }

                .thinBlackButton:active {
                    background: source.$pokeblack;
                }
            }

            .whiteButtons {
                z-index: 1;
                position: absolute;
                width: 20rem;
                margin-top: 22rem;

                .leftButton {
                    width: 3.5rem;
                    height: 3.5rem;
                    background: #fff;
                    border: 0.25rem solid source.$pokeblack;
                    border-radius: 0.5rem 0 0 0.5rem;
                }

                .rightButton {
                    width: 3.5rem;
                    height: 3.5rem;
                    background: #fff;
                    border: 0.25rem solid source.$pokeblack;
                    border-radius: 0 0.5rem 0.5rem 0;
                }

                .leftButton:active, .rightButton:active {
                    background: #cdcdcd;
                }
            }

            .bigYellowButton {
                margin: 23rem 0 0 15rem;
                position: absolute;
                width: 3rem;
                height: 3rem;
                border-radius: 50%;
                background: source.$pokeyellowbtn;
                border: 0.3rem solid source.$pokeborder;

                .lighterYellow {
                    width: 2rem;
                    height: 2rem;
                    border-radius: 50%;
                    background: #f5dc4e;
                    margin: 0 0 0.8rem 0.8rem;
                }

                .highlightYellow {
                    position: absolute;
                    width: 0.6rem;
                    height: 0.6rem;
                    border-radius: 50%;
                    background: #fff;
                    margin: 0 0 1.8rem 1.8rem;
                }
            }

            .smallScreens {
                position: absolute;
                margin-top: 29rem;
                width: 20rem;
                @include flexbox-mixin(space-between, center);

                .smallScreen {
                    @include flexbox-mixin(center, center);
                    flex-direction: column;
                    width: 9rem;
                    height: 4rem;
                    background: source.$pokeblack;
                    border-radius: 0.5rem;
                }

                .smallScreenText {
                    margin: 0;
                    text-transform: capitalize;
                    font-family: 'Press Start 2P', cursive;
                    font-size: 0.75rem;
                    color: #fff;  
                }
            }
        }
    }

    .cuts {
        position: absolute;
        width: 66.75rem;
        height: 50.5rem;
        @include flexbox-mixin(flex-end, center);

        .cutDrop {
            margin-right: 11.514rem;
            margin-bottom: 44.65rem;
            width: 8rem;
            height: 10rem;
            background: source.$pokebg;
            transform: rotate(-147.5deg);
        }

        .cutStraight {
            position: absolute;
            margin-bottom: 41.9rem;
            width: 14.87rem;
            height: 10rem;
            background: source.$pokebg;
            transform: translate(0.07rem)
        }
    }
}

*::-webkit-scrollbar {
    width: 0rem;
}

.thinButtonRed, .thinButtonBlue, .horizontal, .vertical, .blueButtons, .thinBlackButton, .leftButton, .rightButton:hover { 
    cursor: pointer;
}